.cards .row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.Titulote {
    background-color: #0400ff;
    padding: 20px 0;
    text-align: center; 
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: fantasy;
}
.card-body {
    text-align: center;
  }
.card-title{
    font-size: 30px;
    font-family: fantasy;
    color: #ff0000;
    
}
.infoSensor{
    font-size: 30px;
    font-family: fantasy;

}
.infoSensor-avg{
    font-size: 30px;
    font-family: fantasy;
    color: #ff0000;

}
.card-title-avg {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    color: #ff0000;
  }
.card-text-promedio{
    text-align: center;
    color: #ff0000;
    font-size: 40px;
}
footer{
    text-align: center;
    color: rgb(255, 255, 255);
}
